.card-title {
    span{
        font-size: 0.5em;
    }
}

.container-fluid p:first-child{
        color:white;
        a{
            text-decoration: underline;
            color: white;
        }

}
.btn:hover{
    background-color: rgba(0, 0, 0,0.5);
    color:$color-bg;
}
.card {
    min-width: 340px;
    overflow: hidden;
    img{
        max-width: 290px;
        &:hover{
            scale: 1.1;
        }
    }

    div{
        text-align: center;
    }
}